.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}

.column {
  display: flex;
  flex: 1;
  min-height: 200px;
  border: 1px solid #5675e8;
}

.heading {
  font-size: 20px;
}