@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 200px;
  /* border: 1px solid #5675e8; */
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  -moz-box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  padding: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}