@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

.container-cta {
  display: flex;
  justify-content: flex-end;
}

button.link {
  background-color: transparent;
  background: transparent;
  padding: 10px;
  border:0;
  outline: 0;
  color: #5675e8;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 50px;
  /* border: 1px solid #5675e8; */
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  -moz-box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  box-shadow: -1px 2px 5px 1px rgba(235,235,235,1);
  padding: 20px;
}

.color-green {
  color: #6ac6d0 !important;
}

.color-red {
  color: #f78485 !important;
}

.icon-green path {
  fill: #6ac6d0 !important;
}

.icon-red path {
  fill: #f78485 !important;
}

.metrics {
  display: flex;
  flex-direction: row;
  max-width: 60vw;
}

.metrics-container {
  border-right: 1px solid #f3f5f6;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
}

.metrics-container:last-child {
  border-right: 0px;
}

.metric-icon {
  margin-right: 5px;
}

.metrics-heading {
  color: #a0b0c9;
  font-size: 12px;
  font-weight: 500;
}

.metrics-value {
  color: #354b6c;
  font-size: 30px;
  font-weight: 500;
}

.metrics-subtext {
  font-size: 14px;
  color: #a0b0c9;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.drawer-heading {
  padding: 0 1rem;
}

.drawer-content {
  padding: 0 1rem;
}